@import 'const';

.gallery {
  position: relative;
  overflow: hidden;
  height: 100%;
  img {
    width: 100%;
  }
  .arrow {
    display: block;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: .7;
    transition: all .1s;

    &:hover {
      opacity: 1;
    }
  }
  .prev {
    left: 16px;
    background-image: url('/assets/images/arrow-left2x.png');
  }
  .next {
    right: 16px;
    background-image: url('/assets/images/arrow-right2x.png');
  }
  .prev--disabled {
    background-image: url('/assets/images/arrow-left-disabled2x.png');
  }
  .next--disabled {
    background-image: url('/assets/images/arrow-right-disabled2x.png');
  }

}

.modal-close {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/modal-close2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}