<div [formGroup]="form" class="form__field-{{field.controlType}}" [ngClass]="{ field_invalid: isInvalid() }">
  <mat-form-field [floatLabel]="field.floatLabel || 'show'">
    <input ccNumberFormatter
           matInput type="text"
           placeholder="{{field.label}}"
           [attr.name]="field.name"
           formControlName="{{field.fieldName}}"
           [maxlength]="field.maxLength"
           id="{{field.fieldName}}">
    <mat-error *ngIf="isInvalid()">
      <cc-dynamic-error [errors]="field.control.errors" [fieldType]="field.controlType"></cc-dynamic-error>
    </mat-error>
  </mat-form-field>
  <label class="form-field_select" *ngIf="field.selectable">
    <input type="checkbox" [(ngModel)]="field.selectable.isFieldSelected" [ngModelOptions]="{standalone: true}" (ngModelChange)="field.selectable.onFieldSelectChange($event)"
    />
    <span></span>
  </label>
</div>