<div [formGroup]="form" class="form__field-{{field.controlType}}" [ngClass]="{ field_invalid: isInvalid() }">
  <mat-form-field [floatLabel]="field.floatLabel || 'show'">
    <input matInput
           placeholder="{{field.label}}"
           name="{{field.name}}"
           formControlName="{{field.fieldName}}"
           [maxlength]="field.maxLength"
           [matAutocomplete]="auto"
           (focus)="onFocus()"
           id="{{field.fieldName}}">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <!--<mat-hint *ngIf="field.maxLength" align="end">{{field.control.value.length}} / {{field.maxLength}}</mat-hint>-->
    <mat-error *ngIf="isInvalid()">
      <cc-dynamic-error [errors]="field.control.errors" [fieldType]="field.controlType"></cc-dynamic-error>
    </mat-error>
  </mat-form-field>
  <label class="form-field_select" *ngIf="field.selectable">
    <input type="checkbox"
           [(ngModel)]="field.selectable.isFieldSelected"
           [ngModelOptions]="{standalone: true}"
           (ngModelChange)="field.selectable.onFieldSelectChange($event)"/>
    <span></span>
  </label>
</div>
