<div class="dialog dialog__allert">
  <div class="dialog__content">
    <form [formGroup]="infoForm" novalidate [ngClass]="{ form__submited: formState.submitted }">
      <cc-dynamic-form [form]="infoForm" [fields]="fields" [state]="formState"></cc-dynamic-form>
    </form>
  </div>

  <div fxLayoutAlign="space-between">
      <button class="button button--auth-enter" (click)="confirmDialog(false)">Отмена</button>
    <button class="button button--i-action"  (click)="confirmDialog(true)">Cохранить</button>
  </div>
</div>

