<hello [name]="name" [isAdmin]="true">
  <p >КОНТЕНТ APP КОМПОНЕНТА КАК ng-content В ДОЧЕРНЕМ КОМПОНЕНТЕ  </p>
  <div>
    <p #par mouseBold>Директива mouseBold</p>
  </div>

  <div>
    <br>
      <ng-container *ngTemplateOutlet='liveTemplate'></ng-container>
    <!--Templates: -->
    <ng-template #tmplC>
      ДИНАМИЧЕСКИЙ ngTemplateOutlet 11111
    </ng-template>
    <ng-template #tmplC2>
      ДИНАМИЧЕСКИЙ ngTemplateOutlet 22222
    </ng-template>
  </div>
</hello>

<div>
  <br>
  <button (click)="addBookDynamicComponent()">        addBookDynamicComponent
  </button>
  <p>
    this.componentFactoryResolver.resolveComponentFactory(BookItemComponent);
  </p>

  <p>
    let bookItemComponentRef = this.book.createComponent(bookItemComponent);
  </p>
  <ng-template #book></ng-template>
</div>
