<div>
  <ul class="nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['']">Главная</a></li>
    <li routerLinkActive="active"><a [routerLink]="['form',1]" [queryParams]="{'product':'phone', 'price': 200}">Формы</a></li>
    <li routerLinkActive="active"><a [routerLink]="['preload']">Прелоад</a></li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['home']">Lazy load</a></li>
    <li routerLinkActive="active"><a [routerLink]="['home', 'video']">Дочерняя загрузка в Lazy load</a></li>
    <li routerLinkActive="active"><a [routerLink]="['ttttttttt']">ОШИБКА</a></li>
  </ul>
  <hr>
  <p>Текущий URL {{url}}</p>
  <hr>
  <router-outlet></router-outlet>
</div>

