<div>
  <ul class="nav navbar-nav pull-right">
    <li routerLinkActive="active"><a [routerLink]="['']">ALL</a></li>
    <li routerLinkActive="active"><a [routerLink]="['form']">Form</a></li>
    <li routerLinkActive="active"><a [routerLink]="['home']">HOME lazy load</a></li>
    <li routerLinkActive="active"><a [routerLink]="['home/video']">HOME VIDEO дочерняя загрузка</a></li>

    <li routerLinkActive="active"><a [routerLink]="['ttttttttt']">ОШИБКА</a></li>
  </ul>
  <p>Текущий URL {{url}}</p>
  <router-outlet></router-outlet>
</div>
