<app-tooltip [config]="config" [items]="items$"></app-tooltip>
<br>
<button (click)="onClick()">Push - Click</button>
<br><br>
<button (click)="addAsync ()">Push - AddAsync </button>

<p>
По умолчанию Angular использует ChangeDetectionStrategy.Default стратегию обнаружения изменений.
</p>
<p>
  ChangeDetectionStrategy.Default работает таким образом, что каждый раз, когда что-то меняется в нашем приложении, в результате различных пользовательских событий, таймеров, XHR, промисов и т.д., обнаружение изменений будет запускаться по всем компонентам.
</p>

<p>Если мы позволим Angular, каждый раз, когда запускается цикл обнаружения изменений, проверять каждое из этих условий, это негативно скажется на производительности.</p>

<h3>OnPush стратегия обнаружения изменений</h3>
<h4>1. Изменилась ссылка input параметра</h4>
<h4>2. Событие внутри компонента или его потомках</h4>
<h4>3. Ручной запуск обнаружения изменений</h4>