@import 'const';

.modal-close {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/modal-close2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.player {
  position: relative;
  overflow: hidden;
  .play {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 76px;
    height: 76px;
    margin-top: -38px;
    margin-left: -38px;
    background-image: url('/assets/images/play-sprite.png');
    background-position:  0 0;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &:hover {
      background-position: 0 -76px;
    }
  }
  .playing {
    background-image: url('/assets/images/pause-sprite.png');
    &:hover {
      background-position: 0 -76px;
    }
  }
  .fullscreen {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url('/assets/images/fullscreen-sprite.png');
    background-position:  0 0;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &:hover {
      background-position: 0 -24px;
    }
  }
}
