@import 'const';
.form-controll__datetimepicker {
    label {
        display: none;
    }
    .form-group {
        display: flex;
        flex-wrap: wrap;
    }
    &-date {
        position: relative;
        width: 100px;
    }
    &-time {
        display: flex;
        width: 82px;
    }
    .mat-select-arrow {
        border: none;
    }
    .mat-select-value {
        padding: 4px;
        background-color: #f1f1f1;
        overflow: visible;
        text-align: center;
        font-family: PantonSemiBold;
        font-size: 14px;
    }
    .time-separator {
        display: flex;
        align-items: center;
        margin-left: -8px;
        margin-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
    }
    .datetime-separator {
        display: flex;
        align-items: center;
        margin-left: 8px;
        margin-right: 8px;
    }
    .form-group {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .datepicker-icon {
        top: 50%;
        margin-top: -12px;
    }
    .mat-select-value-text span {
        vertical-align: middle;
    }
    cc-dynamic-error {
        display: block;
        width: 100%;
        //margin-bottom: 4px;
    }
    &-error {
        height: 12px;
        width: 100%;
    }
    .form-group__invalid {
        color: $errorRed;
        font-size: 12px;
    }
    .form__field-text {
        margin-top: 8px;
    }
}