<div [ngClass]="{ field_invalid: isInvalid() }">
	<label for="{{field.fieldName}}">{{field.label}}</label>
	<div class="form-group">
		<div class="form-controll__{{field.controlType}}-date">
			<input readonly
			       #date
			       [matDatepicker]="datePicker"
			       (click)="datePicker.open()"
			       (focus)="datePicker.open()"
			       [(ngModel)]="selectedDate"
			       (dateChange)="onValuChange(ACTIONS.DATE_UPDATE)"
			       [id]="field.fieldName"
			       [placeholder]="field.placeholder">
			<div class="datepicker-icon"></div>
			<mat-datepicker #datePicker></mat-datepicker>
			<span class="dynamicForm__datepicker_open" (click)="datePicker.open()">
					<mat-icon>today</mat-icon>
			    </span>
		</div>
		<div class="datetime-separator">-</div>
		<div class="form-controll__{{field.controlType}}-time">
			<mat-select [(ngModel)]="selectedHour" (selectionChange)="onValuChange(ACTIONS.HOUR_UPDATE)">
				<mat-option *ngFor=" let option of hours;" [value]="option" required>
					{{option | number:'2.0'}}
				</mat-option>
			</mat-select>
			<span class="time-separator">:</span>
			<mat-select [(ngModel)]="selectedMinutes" (selectionChange)="onValuChange(ACTIONS.MINUTES_UPDATE)">
				<mat-option *ngFor=" let option of minutes;" [value]="option" required>
					{{option | number:'2.0'}}
				</mat-option>
			</mat-select>
		</div>
	</div>
	<div class="form-controll__datetimepicker-error">
		<cc-dynamic-error *ngIf="isInvalid()" [errors]="field.control.errors" [fieldType]="field.controlType"></cc-dynamic-error>
	</div>
</div>
