@import 'const';

.navigation {
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    width: 100%;
    height: $menuHeight;
    padding: 0 80px 0 80px;
    font-family: PantonSemiBold;
    background-color: $white;
    box-shadow: 0 1px 0 0 $darkBlack;

    &__logo img {
        height: 24px;
        transform: translate3d(0, 0, 0);
    }

    &__menu {
        margin-left: 70px;

        ul {
            height: $menuHeight;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                min-width: 50px;
                margin-right: 40px;
                list-style-type: none;
                position: relative;

                span{
                  cursor: pointer;
                  min-width: 50px;
                  text-align: center;
                }

                a {
                    font-size: 16px;
                    text-decoration: none;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: $black;
                }

                &.navigation__menu-active {
                    box-shadow: inset 0px -#{$activeLinkBorderWidth} 0px 0px $red;
                }

                .icon {
                  width: 16px;
                  height: 16px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: contain;

                  &--openmenu {
                    background-image: url('../../../../../assets/images/icon-open.png');
                  }

                  &--closemenu {
                    background-image: url('../../../../../assets/images/icon-close.png');
                  }
                }
            }
        }
    }

    &__logout {
      cursor: pointer;
    }

    .sub-menu-parent {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .sub-menu-panel {
      position: absolute;
      top: $menuHeight;
      width: 200px;
      top: $menuHeight - 5px;
      left: 0;
      box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 0px 0px rgba(0, 0, 0, 0.12);

      .sub-menu-content {
        background-color: $white;
        text-align:center;

        .sub-menu-item {
          text-align: center;
          text-decoration: none;
          font-family: PantonSemiBold;
          color: $black;
          display: block;
          padding: 10px;

          &:hover {
            background-color: #F0F2F5;
          }
        }

        .navigation__sub-menu-active {
          // box-shadow: inset 0px -#{$activeLinkBorderWidth} 0px 0px blue;
          border-left: 4px solid red;
          background-color: #F0F2F5;
        }
      }
    }
}


@media ($media-low) {
  .navigation {
    padding: 0 40px;

    &__menu {
      margin-left: 50px;

      ul {
        li {
          margin-right: 20px;

          a,
          span {
            color: $black;
            font-size: 14px;
          }
        }
      }
    }
  }
}
