MAIN - !!!!!!

<!--<app-form></app-form>
<hr>
<div>HTTP ЗАПРОС С HTTP_INTERCEPTORS: {{error}}</div>
<ul>
  <li *ngFor="let user of users">
  <p>Имя пользователя: {{user?.name}}</p>
  <p>Телефон пользователя: {{user?.phone}}</p>
  </li>
</ul>
<hr>
<hello [name]="name" [isAdmin]="true">
  <p >КОНТЕНТ APP КОМПОНЕНТА КАК ng-content В ДОЧЕРНЕМ КОМПОНЕНТЕ  </p>
  <div>
    <p #par mouseBold>Директива mouseBold</p>
  </div>

  <div>
    <br>
      <ng-container *ngTemplateOutlet='liveTemplate'></ng-container>
    <!--Templates: -->
    <!--<ng-template #tmplC>
      ДИНАМИЧЕСКИЙ ngTemplateOutlet 11111
    </ng-template>
    <ng-template #tmplC2>
      ДИНАМИЧЕСКИЙ ngTemplateOutlet 22222
    </ng-template>
  </div>
</hello>

<div>
  <hr>
  <p>
    this.componentFactoryResolver.resolveComponentFactory(BookItemComponent);
  </p>
  <p>
    let bookItemComponentRef = this.book.createComponent(bookItemComponent);
  </p>
    <button (click)="addBookDynamicComponent()">        addBookDynamicComponent
  </button>
  <br><br>
  <ng-template #book></ng-template>
  <hr>
  
</div>-->
