<div [formGroup]="form" class="form__field-{{field.controlType}}" [ngClass]="{ field_invalid: isInvalid() }">
  <mat-form-field [floatLabel]="field.floatLabel || 'show'">
    <div class="input-wrap">
      <input matInput [attr.type]="type" placeholder="{{field.label}}" [attr.name]="field.name" formControlName="{{field.fieldName}}"
        id="{{field.fieldName}}" autocomplete="new-password">
      <div class="password-icon"
           [ngClass]="type === 'text' ? 'password-icon--hide' : 'password-icon--show'"
           (mousedown)="showPsw(true)"
           (mouseup)="showPsw(false)"
           (mouseleave)="showPsw(false)">
      </div>
    </div>
    <mat-error *ngIf="isInvalid()">
      <cc-dynamic-error [errors]="field.control.errors" [fieldType]="field.controlType"></cc-dynamic-error>
    </mat-error>
  </mat-form-field>
</div>