.input-wrap {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    &--hide {
        background-image: url(/assets/images/icon-visibility-on.png);
    }
    &--show {
        background-image: url(/assets/images/icon-visibility-off.png);
    }
}